<nav class="navbar fixed-bottom navbar-dark mt-3 bg-dark shadow" style="opacity: 0.5">
	<a class="navbar-brand" href="https://profile.intra.42.fr">School 42</a>
	<a class="navbar-brand mb-0 h1" href="#">Hypertube by aspektor bslipoko dkozyr svovchyn </a>
</nav>

</body>

</html>
